* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.bg-light-pink {
  background-color: #feeae9;
  border-radius: 10px;
}
.btn-pink {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  transition: background 0.3s;
}
.btn-pink:hover {
  color: #fff;
  background-color: #ff136f;
}
/* ======== Slider Area CSs ======== */
.navbar-brand img {
  max-width: inherit;
}
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}
.slider-content {
  margin-top: 150px;
}
.slider-content h1 {
  font-size: 45px;
  margin-bottom: 15px;
}
.slider-content p {
  font-size: 1.1rem;
}
.slider-content span {
  display: block;
  color: #ff136f;
  font-size: 50px;
}
.slider-content a {
  margin-top: 5px;
}
.slider-wrapper {
  padding: 40px 60px;
  border-radius: 20px;
}
.slider-image {
  padding: 10px;
}
.f-item {
  background: #da70d6;
  border-radius: 10px;
  padding: 25px 20px;
}
.f-item h3 {
  color: #fff;
  font-size: 42px;
  margin-left: 20px;
}
.f-item img {
  width: 113px;
  margin-right: 10px;
}
.bg-blue {
  background-color: #0000ff;
}
.bg-yellow {
  background-color: #ffa500;
}
.product-price {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.card {
  border: none;
  box-shadow: 8px 7px 12px lightgray;
  padding: 20px;
  height: 100%;
}
.card-footer {
  background-color: inherit;
  border: none;
}
.subscribe-form {
  padding: 90px 58px;
}
.subscribe-form h2 {
  font-size: 30px;
}
.subscribe-form p {
  font-size: 16px;
  color: #666;
}
.f-text p {
  font-size: 14px;
  margin: 0;
}

/* =================================================================================
     ----------------------Responsive Css ----------------------------------
====================================================================================*/

@media (max-width: 1200px) {
  .slider-content {
    margin-top: 76px;
  }
  .slider-content p {
    font-size: 15px;
  }
  .slider-content h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .slider-content span {
    font-size: 38px;
  }
  .btn-pink {
    padding: 8px 20px;
  }
  .f-item h3 {
    font-size: 35px;
  }
  .f-item img {
    width: 90px;
  }
  .f-text p {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .slider-content {
    margin-top: 35px;
  }
  .slider-content h1 {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .slider-content p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .slider-content span {
    font-size: 31px;
  }
  .slider-content span {
    font-size: 31px;
  }
  .slider-wrapper {
    padding: 28px 35px;
    border-radius: 20px;
  }
  .f-item {
    padding: 17px 0px;
  }
  .f-item h3 {
    font-size: 27px;
  }
  .f-item img {
    width: 75px;
  }
  .f-text p {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .slider-content {
    margin-top: 20px;
  }
  .slider-content h1 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .slider-content p {
    font-size: 9px;
    margin-bottom: 4px;
  }
  .slider-content span {
    font-size: 20px;
  }
  .btn-pink {
    padding: 5px 14px;
    font-size: 13px;
    border-radius: 3px;
  }
  .slider-wrapper {
    padding: 20px 22px;
    border-radius: 7px;
  }
  .f-item img {
    width: 37px;
    margin-right: 5px;
  }
  .f-item h3 {
    font-size: 20px;
    margin-left: 7px;
  }
}
@media (max-width: 576px) {
  .slider-content {
    width: 260px;
  }
  .slider-wrapper {
    display: block;
    position: relative;
    padding: 30px 20px;
  }
  .slider-image {
    padding: 10px;
    display: inline-flex;
    width: 160px;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .slider-section {
    margin: 0;
  }
  .f-item img {
    width: 34px;
    margin-right: 5px;
  }
  .f-item h3 {
    font-size: 19px;
    margin-left: 6px;
  }
  .subscribe-form {
    padding: 50px 58px;
  }
  .subscribe-form h2 {
    font-size: 25px;
  }
  .subscribe-form p {
    font-size: 13px;
    color: #666;
  }
}
@media (max-width: 400px) {
  .slider-wrapper {
    padding: 15px 10px;
    border-radius: 5px;
  }
  .slider-content h1 {
    font-size: 16px;
  }
  .slider-content p {
    font-size: 7px;
    margin-bottom: 3px;
  }
  .slider-content span {
    font-size: 17px;
  }
  .btn-pink {
    padding: 4px 9px;
    font-size: 9px;
    margin-top: 0;
  }
  .slider-content {
    width: 190px;
  }
  .slider-image {
    width: 135px;
  }
}
